/* Title, it was logo and might be logo in the future */
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    max-height: 120px;
    padding: 15px;
    background-image: linear-gradient(35deg, #75ABBC, #23B5D3);
}

.headerText {
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}

.sidenav {
    max-width: 60px;
    background-color: #f0f2f3;
    height: 100%;
    max-height: 100%;
    padding: 0;
    position: absolute;
    transition: all 1s;
    z-index: 110;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    border: 1px solid #ccc;

}
/* listItems */

.liText {
    left: 100%;
}

.listItem {
    display: flex;
    align-items: center;
}

.listIcons {
    display: flex;
    width: 20px;
}

.filter {
    max-height: 0;
    opacity: 0;
    overflow: auto;
    transition: max-height 1s ease-out, opacity 0.5s ease-in;
}

.filter.active {
    max-height: 100%;
    opacity: 1;
    border-top: 1px solid #ccc;
    overflow: auto;
}

ul {
    padding: 0;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

ul li {
    list-style: none;
    margin: 10px 0;
}

ul li a {
    position: relative;
    color: black;
    background-image: linear-gradient(transparent 100%, white, white);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
    transition: all 0.2s ease-in-out;
}

ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(20deg, #75ABBC, #23B5D3);
    z-index: -1;
}


.liText {
    margin-left: 0;
}

ul li a svg {
    margin-right: 20px;
}

ul li a:hover,
ul li a:active {
    color: white;
    cursor: pointer
}

.genList li a:hover,
.genList li a:active{
    padding-left: 50px;
}

ul li a:hover::before,
ul li a:active::before {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
    width: 100%;
}

.newsDiv {
    margin-bottom: -10px;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterHeader {
    display: flex;
    align-items: center;
}

.filterIcon {
    align-self: center;
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.filterBox {
    height: 25px;
    min-width: 10px;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
}

#regionBox {
    background-color: #23B5D3;
}

#categoryBox {
    background-color: #75ABBC;
}

.filterOptions {
    padding-left: 5px;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-in;
}

.filterOptions.active {
    height: 100%;
    max-height: 100%;
    opacity: 1;
}


.filterOptions label {
    margin-left: 10px;
    font-family: "Courier New", Courier, monospace;
}

.filterList{
    overflow-y: auto;
    overflow-x: hidden;
}

.filterList a:hover,
.filterList a:active {
    padding-left: 30px;
}

.filter.active {
    overflow-x: hidden;
    overflow-y: auto;
}

.toggle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);/
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 109;
    transition: left 0.65s ease-in-out, opacity 0.1s ease-in-out;
}


.sidenav.active + .toggle {
    left: 160px;
}

.newsPage {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-in;
    border-top: 3px solid #ccc;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #fff;
}

/* *****NEWSCARD******** */

.nwp {
    font-family: "Courier New", Courier, monospace;
    padding: 10px;
}

.search {
    margin-top: 10px;
    width: 230px;
    height: 30px;
}

.newsTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px 10px 15px;
    margin-top: 3px;
    font-family: Verdana, sans-serif;
    border-bottom: 3px solid #23B5D3;
}

.article {
    padding: 15px 15px 5px;
    font-family: Helvetica, Arial, sans-serif;
}

.newsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 15px solid #ccc;
}

.newsCard .link{
    font-size: 15px;
    color: #23B5D3;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: Verdana, sans-serif;
}

.newsCard .link:hover{
    color: #126736;
}

.newsPage.active {
    margin-top: 20px;
    max-height: 500px;
    opacity: 1;
}

.newsPage.active ~ * {
    filter: blur(5px);
    pointer-events: none;
    overflow: hidden;
}

.placeholder {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    transition: 0.5s ease-in-out;
}

.placeholder:hover {
    filter: blur(1px);
}

.sidenav.expanded {
    width: 350px;
    overflow-y: hidden;
}


/* ABOUT US (må huske å lage felles klasse med newspage senere) */

.aboutPage {
        max-height: 0;
        opacity: 0;
        overflow-y: auto;
}

.aboutPage.active {
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-in;
    border-top: 3px solid #ccc;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}

.aboutPage.active ~ * {
    filter: blur(5px);
}

.abTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid #ccc;
}

.aboutDiv {
    margin-bottom: -10px;
}

/*  Scrollbar source: https://css-tricks.com/classy-and-cool-custom-css-scrollbars-a-showcase/             */
::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}

/* CSS magic */
/* Sliding border */

@property --backgroundColor {
    syntax: "<image>";
    initial-value: white;
    inherits: false;
}

@keyframes draw {
    from {
        --backgroundColor: white;
    }
    to {
        --backgroundColor: linear-gradient(20deg, #75ABBC, #23B5D3);
    }
}








