.countries {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    width: 300px;
    min-height: 200px;
    padding-bottom: 10px;
    height: auto;
    cursor: default;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
}

.countryPopupCloseButton {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-family: Tahoma, Verdana, sans-serif;
    text-decoration: none;
    background-color: transparent;
}

.countryPopupCloseButton:hover {
    cursor: pointer;
    color: white;
    transition: ease-in-out 0.3s;
}

.countries a {
    transition: ease-in-out 0.3s;
    color: #e1e1e1;
}

.country {
    font-size: 20px;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0 10px;
    background-image: linear-gradient(35deg, #75ABBC, #23B5D3);
}

.aNumCon {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    padding-top: 10px;
    margin-left: 10px;
}

.newsNow {
    font-size: 18px;
}

#newsCategory {
    border-bottom: 1px black solid;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

#commonCategory {
    text-align: center;
    border-top: 1px black dashed;
    border-bottom: 1px black solid;
    font-size: 20px;
    margin: 0;
}

#articleCount {
    border-bottom: 1px grey dashed;
    margin: 0;
}

#categoryNews {
    padding-left: 10px;
}

#mostNewsCoverage {
    border-bottom: 1px grey dotted;
    font-size: 18px;
    font-weight: bold;
}



