/* Body */
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/topography.jpg");
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
    background-size: cover;
    z-index: 3;
}

.pointer {
    width: 60px;
    position: fixed;
    opacity: 0.5;
    animation: 5s move linear infinite;
    transition: all 5s ease-in-out;
}

/* Box in the middle */
.containerBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 904px;
    height: 512px;
    border-radius: 10px;
    background-color: #f0f2f3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.containerBox::after, .containerBox::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 0%, #23B5D3, #75ABBC, #23B5D3);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 10px;
    padding: 3px;
    animation: 150s spin linear infinite;
}
.containerBox::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
/* Login part */
.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-right: 1px solid #ccc;
}

/* Input form */
.inputBox {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    height: 160px;
    width: 100%;
    gap: 5px;
}

.inputField {
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #75ABBC;
}

.buttonGroup {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 10px 0 10px;
    height: 40px;
    width: 100%;
    z-index: 10;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 80%;
    transition: all 0.5s ease-in-out;
    background-color: #75ABBC;
}

.btn::after, .btn::before {
    content: "";
    position: absolute;
    border: none;
    height: 99%;
    width: 99%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 30%, #071013, #126736);
    z-index: -2;
    border-radius: 10px;
}

.btn:hover::after {
    padding: 1.5px 3px 1.5px ;
    animation: 3s spin linear infinite;
    transition: all 0.5s ease-in-out;
}

.btn::before:hover {
    filter: blur(1.5rem);
    opacity: 0.2;
}

.btn:hover {
    transition: all 0.5s ease-in-out;
    background-color: white;
    cursor: pointer;
}

#loginbtn {
    color: white;
}

#loginbtn:hover {
    color: black;
}




/* Information part and signup */
.divider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    box-shadow: -0.5px 0px 8px 1px #aaaaaa;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: linear-gradient(20deg, #75ABBC, #23B5D3);
    border-left: 3px rgba(255, 255, 255, 0.6);
}

.infoBox {
    display: flex;
    height: 160px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 35px 0 35px;
    text-align: center;
    gap: 5px;
}

#info {
    font-size: 32px;
    color: white;
    margin-bottom: 5px;
}
.info-text{
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
}

#signbtn {
    color: black;
    background-color: white;
}

#signbtn:hover {
    color: white;
    background-color: #75ABBC;
}

#signbtn::after, #signbtn::before {
    background-image: conic-gradient(from var(--angle), transparent 30%, white);
}

#signbtn:hover::after {
    padding: 2px 3.5px 2px;
}

/* CSS magic, source: https://www.youtube.com/watch?v=ezP4kbOvs_E&ab_channel=Coding2GO */
/* Spinning-border */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    left: 0%;
    right: 0%;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@keyframes move {
    from {
            left: 10%;
            opacity: 0.5;
    } to {
            right: 10%;
            opacity: 0.5;
    }
}
