/* nav bar */
.sidenav {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    background-color: #f0f2f3;
    padding: 0 0 30px 0;
    position: absolute;
    transition: all 1s;
    z-index: 110;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Courier New", Courier, monospace;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.sidenavContent {
    overflow-y: auto;
    tab-index: 0;
    max-height: 95vh;
}

.sidenav a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {

    .sidenav {
        margin: 0;
    }

    .sidenav.active {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .sidenav.active .escapeBtn {
        display: flex;
        flex-direction: row;
        visibility: visible;
        left: 10px;
        font-family: "Courier New", Courier, monospace;
        border-radius: 4px;
        border: none;
        gap: 10px;
        font-size: 18px;
    }

    .sidenav.active .escapeBtn img {
        height: 30px;
    }

    .sidenav.active .escapeBtn img:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }

    .sidenav.active .escapeBtn p {
        align-self: center;
    }

    .newsPage.active,
    .aboutPage.active {
        padding-top: 20px;
        max-height: 500px;
        min-width: 90vw;
        max-width: 100%;
        opacity: 1;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    .filter.active {
        opacity: 1;
        max-height: 500px;
        min-width: 90vw;
        max-width: 100%;
        padding-left: 10px;
    }

}

/*  Header */

.headerText {
    font-size: 0;
    text-align: center;
    padding-left: 10px;
    font-weight: normal;
}

.sidenav:hover .headerText,
.sidenav.active .headerText{
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px 5px 15px 5px;
    width: 100%;
    border-bottom: black 1px dashed;
}

.escapeBtn {
    position: absolute;
    visibility: hidden;
}

.sidenav:hover .logoContainer,
.sidenav.active .logoContainer{
    transition: all 0.3s ease-in-out;
}

.logo {
    width: 30px;
}

/* icons and list */

.listIcons {
    margin: 10px;
    width: 25px;
}

.liText {
    font-size: 0;
    transition: all 0.3s ease-in-out;
}

/* list-general */

.genList {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.listItem {
    display: flex;
    flex-direction: row;
}

.sidenav:hover .liText,
.sidenav.active .liText{
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    margin: auto 0 auto 0;
    transform: translateX(0);
    padding: 10px 20px 10px 10px;
 }

.sidenav:hover .listItem,
.sidenav.active .listItem{
    transition: all 0.3s ease-in-out;
    border-bottom: lightgray 3px dashed;
}


ul li .liText {
    position: relative;
    color: black;
    background-image: linear-gradient(transparent 100%, white, white);
    text-decoration: none;
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
    transition: all 0.2s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

ul li .liText:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(20deg, #75ABBC, #23B5D3);
    z-index: -1;
}

.genList li .liText:hover,
.genList li .liText:active{
    transform: translateX(10px);
}

ul li .liText:hover,
ul li .liText:active {
    color: white;
    cursor: pointer
}

ul li .liText:hover::before,
ul li .liText:active::before {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
    width: 100%;
}


/* news and aboutus*/
.newsPage,
.aboutPage  {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 0;
    max-height: 0;
    opacity: 0;
    tab-index: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.abTitle {
    margin-bottom: 10px;
}

.aboutPage.active {
    animation: fadeInAbout 0.5s forwards;
    max-width: 350px;
    padding: 20px;
    overflow-y: auto;
}

.newsPage.active {
    animation: fadeInNews 0.7s ease forwards;
    padding-top: 20px;
    overflow-y: auto;
    max-width: 350px;
}

@keyframes fadeInAbout {
    0% {
        max-height: 0;
        opacity: 0;
    }
    100% {
        max-height: 500px;
        opacity: 1;
    }
}

@keyframes fadeInNews {
    0% {
        max-height: 0;
        height: 0;
        opacity: 0;
    }
    100% {
        max-height: 500px;
        height: 500px;
        opacity: 1;
    }
}

.newsPage.active {
    padding-bottom: 20px;
}

.nwp {
    font-family: "Courier New", Courier, monospace;
    padding: 10px;
}

.search {
    margin-top: 10px;
    width: 230px;
    height: 30px;
}

.newsTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px 10px 15px;
    margin-top: 3px;
    font-family: Verdana, sans-serif;
    border-bottom: 3px solid #23B5D3;
}

.article {
    padding: 15px 15px 5px;
    font-family: Helvetica, Arial, sans-serif;
}

.newsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 15px solid #ccc;
}

.newsCard .link{
    font-size: 15px;
    color: #23B5D3;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: Verdana, sans-serif;
}

.newsCard .link:hover{
    color: #126736;
}


.placeholder {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    transition: 0.5s ease-in-out;
}

.placeholder:hover {
    filter: blur(1px);
}

/* Filter */

.filter {
    opacity: 0;
    max-width: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    tab-index: 0;
    transition: all 0.3s ease-in-out;
}

.filter.active {
    opacity: 1;
    max-height: 500px;
    max-width: 100%;
    padding-left: 10px;
}

.filterIcon {
    width: 25px;
}

.filterHeader {
    font-size: 18px;
    display: flex;
    gap: 0.75rem;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.filterText {
    align-self: center;
    line-height: 1;
}

/* filteroptions */

.filterOptions {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.altern {
    display: flex;
    flex-direction: row;
}

.lname {
    position: relative;
    color: black;
    background-image: linear-gradient(transparent 100%, white, white);
    text-decoration: none;
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
    transform: translateX(0);
    padding-left: 10px;
}

.lname:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(20deg, #75ABBC, #23B5D3);
    z-index: -1;
}

.lname:hover, .lname:active {
    transform: translateX(10px);
    color: white;
    cursor: pointer;
}

.lname:hover::before, .lname:active::before {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
    width: 100%;
}

/* CSS magic */
/* Sliding border */

@property --backgroundColor {
    syntax: "<image>";
    initial-value: white;
    inherits: false;
}

@keyframes draw {
    from {
        --backgroundColor: white;
    }
    to {
        --backgroundColor: linear-gradient(20deg, #75ABBC, #23B5D3);
    }
}


.sidenavContent::-webkit-scrollbar, .filter::-webkit-scrollbar {
    display: none;
}

.sidenavContent, .filter {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 12px;

}

/*  Scrollbar source: https://css-tricks.com/classy-and-cool-custom-css-scrollbars-a-showcase/             */
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}