.mainContent {
    position: absolute;
    height: 100vh;
    width: 10%;
    min-width: 180px;
    max-width: 250px;
    padding: 10px; /* */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 102;
    background-color: #FCFCFC;
    overflow: hidden;
}

.navBar {
    position: relative;
    z-index: 100;
    padding: 15px; /* */
    border-bottom: 1px solid #ccc;
}

.navContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    position: relative;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
}

.logo {
    height: 50px;
    width: auto;
}

.navLinks {
    width: 100%;
    margin-left: -20px;
}

.navLinks img  {
    height: 25px;
    width: 25px;
}

.navItem {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    margin: 10px 0;
    list-style: none;
    gap: 10px;
}

.navLinks li a {
    margin-left: 5px;
    font-size: 18px;
    white-space: nowrap;
}


a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    letter-spacing: 3px;
    transition: color 1s;
}

.navLinks li a:hover {
    color: red;
}


