.App {
    font-family: Verdana, Geneva, Tahoma, Verdana, sans-serif;
    text-align: center;
}

.LocationApp {
    z-index: 101 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    max-height: 100vh;
}

/* Sizing of map-container */
.leaflet-container {
    height: 100vh;
    z-index: 0;
}

/* The zoom button, just so I have it for later */

.leaflet-control-container {
    position: absolute;
    right: 56px
}

.clusterIcon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}